.playerContainer {
  block-size: 0;
  flex: 1 auto;
}

.video {
  block-size: 100%;
  inline-size: 100%;
  z-index: var(--z-base);

  &::cue {
    font-size: 1.75rem;
    font-family: var(--font-ui);
    line-height: var(--lh-normal);
  }
}

.playerContainer,
.video {
  box-shadow: none;
}
