.playerContainer {
  block-size: 0;
  flex: 1 auto;
}

.video {
  block-size: 100%;
  inline-size: 100%;
  z-index: var(--z-base);

  &::cue {
    font-size: 2vw;
  }
}

.playerContainer,
.video {
  box-shadow: none;
}

.container {
  display: flex;
  flex-direction: column;
  block-size: 100dvb;
  margin: auto;
}
